.weatherContainer {
	display: inline-flex;
	justify-content: center;
	width: 100%;
}

.myHeader {
	color: blue;
	margin: auto;
	text-align: center;
	position: relative;
}

.weather {
	color: blue;
	display: none;
}

img {
	margin: auto 1em;
}

.my-form {
	margin: auto auto auto -16%;
	border: 1px solid black;
	width: 32%;
	position: absolute;
	left: 50%;
	top: 30%;
}

.input-field {
	margin: auto;
	padding: 1em 1em;
	width: 10.2em;
}

#searchBtn {
	margin: auto auto 1em;
	display: block;
}

#searchBtn:valid {
	outline: none;
	box-shadow: none;
}

input {
	background-position: 98% 50%;
	width: 12em;
}

input:focus:invalid {
	box-shadow: 0 0 5px 1px #ff3333;
}

input:valid {
	box-shadow: 0 0 5px 1px lime;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin: auto;
	display: none;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
